* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  border: 2px solid #ccc;
}

.card {
  max-width: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/5;
  /* gap: 1rem; */
  border: 2px solid #ccc;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card > h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card > p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 16px;
}

.card .btn {
  display: block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: auto;
  color: #fff;
  width: fit-content;
}
