*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui;
  width: 90%;
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 5rem;
  min-width: 80vw;
}

.box {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2rem;
  text-align: center;

  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3; /*it will end at 4 because I have 3 elements which make up a grid of 4 lines of rows */
  /* min-width: 300px; */
}
